<div class="page-container">
    <h1>
        Activities
    </h1>


    <label>City</label>

    <select formControlName="city" ng-change="changeCity()">
      <option *ngFor="let city of cities;" [value]="city.id">{{city.name}}</option>
    </select>

    <div class="cards" *ngFor="let trip of tripList" (click)="goToTrip(trip.id)">
        <div *ngIf="trip.cityId == CitiesToShow">

            <div class="card">{{trip.name}}</div>
            <div class="description">{{trip.description}}</div>
        </div>
    </div>






</div>
