@import "../../../assets/styles/layout.scss";
.cards {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding: 32px;
    transition: transform .2s;
    justify-content: space-evenly;
}

.cards:hover {
    transform: scale(1.5);
}

.page-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
}