@import "../../../assets/styles/layout.scss";
.cards {
    display: flex;
    padding: 32px;
    flex-wrap: wrap;
}

.card {
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.3);
}

.page-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.description {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 187, 75, 0.276);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-left: 2%;
}

.card:hover+.description {
    visibility: visible;
}