<div class="table-container-city">
  <mat-form-field>
    <mat-label>Name filter</mat-label>
    <input matInput (keyup)="applyFilterName($event)" #input />
  </mat-form-field>
  <mat-table [dataSource]="adminService.cityDataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- CityId Column -->
    <ng-container matColumnDef="CityId">
      <mat-header-cell *matHeaderCellDef> CityId </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.cityId }} </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="adminService.cityDisplayedColumns"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: adminService.cityDisplayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 6, 7, 8, 10]"
    showFirstLastButtons
  ></mat-paginator>
</div>
